.main-container {
  min-height: 100vh;

  &.with-nav {
    padding-top: 64px;
  }
}

.content {
  min-height: calc(100vh - 64px);
  background: #f5f5f5;

  &.with-sidebar {
    margin-left: 240px;
  }
}

@media (max-width: 768px) {
  .content.with-sidebar {
    margin-left: 0;
  }
}
