<mat-nav-list class="sidebar">
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>

  <a mat-list-item routerLink="/prospects" routerLinkActive="active">
    <mat-icon>business</mat-icon>
    <span>Prospects</span>
  </a>

  <a mat-list-item routerLink="/prospects/new" routerLinkActive="active">
    <mat-icon>add</mat-icon>
    <span>Nouveau Prospect</span>
  </a>

  <a mat-list-item routerLink="/profile" routerLinkActive="active">
    <mat-icon>person</mat-icon>
    <span>Mon Profil</span>
  </a>

  <a mat-list-item routerLink="/users" routerLinkActive="active" *ngIf="isAdmin">
    <mat-icon>group</mat-icon>
    <span>Utilisateurs</span>
  </a>
</mat-nav-list>
